doctype html
html
	head
		title Cookie Stats
		style.
			body, html {
			font-family: arial, sans-serif;
			font-size: 11pt;
			}
			span.label {
			width:150px;
			display:inline-block;
			}
		script(src='http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js')
		script(src='js/vis.min.js')
		link(href='css/vis.min.css', rel='stylesheet', type='text/css')
	body
		h2 Players
		p
			each playerName, playerIP in players
				button.drawPlayer(value=playerIP, style='width:200px;') #{playerName}
		table
			colgroup
				col(width='85%')
				col(width='10%')
			tbody
				tr
					td(style='padding-right: 20px; border-right: 1px solid;')
						#visualization
					td(style='padding-left: 5px;')
						table(style='font-size: 12px;')
							colgroup
								col(width='150')
								col(width='50')
							tbody#charttoggle
		script(src='js/chart.js')
